[alias]
lg = log --all --decorate --oneline --graph
lg2 = log --all --decorate --graph --abbrev-commit --format=format:'%C(auto)%h%d %s%C(reset)%C(dim white) - %an%C(reset)'
lg3 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
	defaultBranch = main
[user]
	email = zanggu3@nate.com
	name = Hyeonjae Lee
[core]
	excludesfile = ~/.gitignore_global
